/*
background: #111;
frame: #222;
text: #ccc;
dots: 204 0.7a;
*/

::-moz-selection {
	color: #000;
	background: #ccc;
}

::selection {
	color: #000;
	background: #ccc;
}

body {
	background-color: #111;
	overflow: hidden;
}

#back {
	position: absolute;
}

#center {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 900px;
	height: 420px;
	margin-top: -210px;
	margin-left: -450px;
	transition: margin-left 0.4s;
}

#frame {
	display: inline-block;
	width: 70%;
	height: 100%;
	background-color: #222;
	border-radius: 5px;
	background-size: cover;
	background-position: center;
	margin-right: 10px;
}

#data {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	width: 245px;
	height: 100%;
	right: 0px;
	vertical-align: top;
	padding-top: 7px;
}

#drop {
	width: 100%;
	height: 100%;
}

.datum {
	display: block;
	color: #ccc;
	font-family: "Roboto Mono";
	font-weight: 400;
	font-size: 10pt;
	margin-bottom: 4px;
}

#palette {
	position: absolute;
	width: 100%;
	height: 10%;
	bottom: 0px;
}

.tone {
	display: inline-block;
	width: 42px;
	height: 42px;
	border-radius: 2px;
	background-color: #222;;
	margin-right: 4px;
}

#pixels {
	display: none;
}